body {
    background-color: #630e79;
    color: rgb(247, 240, 240);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #186d8f;
    color: rgb(5, 4, 4);
    font-family: "Bai Jamjuree", sans-serif;


}.passo {
    display: nome;
}


.passo.ativo{
    display: bolck;
}